<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.hrm.mapper.ILogMapper">

    <insert id="insertLogLogin" parameterType="com.xiaoyu.hrm.pojo.LogLogin">
        INSERT INTO log_login (user, operating, ip, date)
        VALUES
            (#{user}, #{operating}, #{ip}, #{date})
    </insert>

    <insert id="insertLogOperating" parameterType="com.xiaoyu.hrm.pojo.LogOperating">
        INSERT INTO log_operating (user, operating, operating_data, ip, date)
        VALUES
            (#{user}, #{operating}, #{operatingData}, #{ip}, #{date})
    </insert>

    <!--根据页数以及条件查询 登陆 日志信息-->
    <select id="findLogLoginByPage" parameterType="com.xiaoyu.hrm.pojo.LogLogin"
            resultType="com.xiaoyu.hrm.pojo.LogLogin">
        SELECT * FROM `log_login`
        <where>
            <if test="log != null">
                <if test="log.user != null">
                    AND user like concat('%', #{log.user}, '%')
                </if>
                <if test="log.beginDate != null and log.endDate != null">
                    AND date BETWEEN #{log.beginDate} AND #{log.endDate}
                </if>
            </if>
        </where>
        <if test="page != null and size != null">
            limit #{page}, #{size}
        </if>
    </select>

    <!--根据条件 log 查询符合条件的数目-->
    <select id="getLogLoginTotal" parameterType="com.xiaoyu.hrm.pojo.LogLogin" resultType="long">
        select count(*) from `log_login`
        <where>
            <if test="log != null">
                <if test="log.user != null">
                    AND user like concat('%', #{log.user}, '%')
                </if>
                <if test="log.beginDate != null and log.endDate != null">
                    AND date BETWEEN #{log.beginDate} AND #{log.endDate}
                </if>
            </if>
        </where>
    </select>

    <!--根据页数以及条件查询 操作 日志信息-->
    <select id="findLogOperatingByPage" parameterType="com.xiaoyu.hrm.pojo.LogOperating"
            resultType="com.xiaoyu.hrm.pojo.LogOperating">
        SELECT * FROM `log_operating`
        <where>
            <if test="log != null">
                <if test="log.user != null">
                    AND user like concat('%', #{log.user}, '%')
                </if>
                <if test="log.beginDate != null and log.endDate != null">
                    AND date BETWEEN #{log.beginDate} AND #{log.endDate}
                </if>
            </if>
        </where>
        <if test="page != null and size != null">
            limit #{page}, #{size}
        </if>
    </select>

    <!--根据条件 log 查询符合条件的数目-->
    <select id="getLogOperatingTotal" parameterType="com.xiaoyu.hrm.pojo.LogOperating" resultType="long">
        select count(*) from `log_operating`
        <where>
            <if test="log != null">
                <if test="log.user != null">
                    AND user like concat('%', #{log.user}, '%')
                </if>
                <if test="log.beginDate != null and log.endDate != null">
                    AND date BETWEEN #{log.beginDate} AND #{log.endDate}
                </if>
            </if>
        </where>
    </select>

</mapper>