<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.hrm.mapper.IUserMapper" >

    <resultMap id="user" type="com.xiaoyu.hrm.pojo.User" />

    <!--根据账号查询用户信息, 不需要查询出密码-->
    <select id="findUserByLoginName" parameterType="string" resultMap="user">
        SELECT * FROM `user_inf` WHERE loginname = #{loginname}
    </select>

    <!--根据页数以及条件查询用户信息, 不需要查询出密码-->
    <select id="findUserByPage" parameterType="com.xiaoyu.hrm.pojo.User"
            resultType="com.xiaoyu.hrm.pojo.User">
        SELECT `id`, `loginname`, `status`, `createdate`, `username` FROM `user_inf`
        <where>
            <if test="user != null">
                <if test="user.username != null">
                    AND username like concat('%', #{user.username}, '%')
                </if>
                <if test="user.loginname != null">
                     AND loginname like concat('%', #{user.loginname}, '%')
                </if>
                <if test="user.status != null">
                     AND status = #{user.status}
                </if>
            </if>
        </where>
        ORDER BY createdate DESC
        <if test="page != null and size != null">
            limit #{page}, #{size}
        </if>
    </select>

    <!--根据条件 user 查询符合条件的数目-->
    <select id="getTotal" parameterType="com.xiaoyu.hrm.pojo.User" resultType="long">
        select count(*) from  `user_inf`
        <where>
            <if test="user != null">
                <if test="user.username != null">
                    AND username like concat('%', #{user.username}, '%')
                </if>
                <if test="user.status != null">
                    AND status = #{user.status}
                </if>
            </if>
        </where>
    </select>

    <update id="updateUser" parameterType="com.xiaoyu.hrm.pojo.User">
        UPDATE `user_inf`
         SET
         <if test="username != null">
             username = #{username}
         </if>
         <if test="username != null and status != null">
            ,
         </if>
         <if test="status != null">
             status = #{status}
         </if>
         <if test="status != null and newPassword != null">
            ,
         </if>
         <if test="newPassword != null">
             password = #{newPassword}
         </if>
         where loginname = #{loginname}
    </update>

</mapper>